* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --common-padding: 0 6vw;
  --common-color: #c2f578;
}
.heder {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.heder-left {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: var(--common-padding);
}
.logo {
  font-weight: bold;
  font-size: 20px;
}
.heder-right {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: var(--common-padding);
}
button {
  color: white;
  background-color: black;
  padding: 5px;
  border-radius: 5px;
}
#explore {
  background-color: var(--common-color);
  color: black;
  margin-top: 20px;
}
.main01 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 140px;
  /* gap: 100px; */
}
.span1 {
  font: inter;
  font-weight: 700;
  line-height: 82.3px;
  position: relative;
}
.span2 {
  position: absolute;
  bottom: -30px;
}
.main-child1 {
}
#p1 {
  font: Poppins;
  font-weight: 300;
  font-size: 68px;
  /* line-height: 102px;
  letter-spacing: -3%; */
}
.image01 {
  width: 602px;
  height: 606px;
  top: 110px;
  left: 813px;
  gap: 0px;
  opacity: 0px;
}
.company {
  padding: 130px;
  margin-top: 10px;
  width: 1190px;
  height: 57.62px;
}
#hero2 {
  font-weight: bold;
}
.hero {
  padding: var(--common-padding);
  padding-left: 300px;
  font-size: 28px;
  font-weight: 300;
  margin: 200px;
}
.add-content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-left: 150px;
  padding-right: 150px;
}
#c1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ecedef;
  border-radius: 31px;
  padding-left: 40px;
  padding-right: 40px;
  height: 288px;
  width: 333px;
}
#c2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ecedef;
  border-radius: 31px;
  padding-left: 40px;
  padding-right: 40px;
  height: 288px;
  width: 333px;
}
#c3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ecedef;
  border-radius: 20px;
  padding-left: 40px;
  padding-right: 40px;
  height: 288px;
  width: 333px;
}

.view1 {
  color: black;
  background-color: var(--common-color);
  margin-top: 30px;
  width: 124px;
  height: 37px;
}
.pa1 {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 600;
  margin-top: 20px;
}
.addtional {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: var(--common-padding);
  margin: 100px;
  /* padding-right: 140px; */
  gap: 350px;
}
.img1 {
  display: flex;
  background-color: #ecedef;
  padding-left: 94px;
  padding-top: 92px;
  border-radius: 31px;
}
.info-01 {
  font-family: Poppins;
  font-size: 36px;
  font-weight: 700;
  line-height: 64.8px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.pa2 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.info-02 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.info-03 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.info-04 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.b1 {
  color: black;
  background-color: var(--common-color);
  align-items: center;
  width: 130px;
  height: 30px;
  font-size: 15px;
  font-weight: 600;
}
.info-05 {
  padding-left: 80px;
  padding-top: 10px;
}
.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: var(--common-padding);
  margin-bottom: 20px;
}
.i1 {
  height: 30px;
  width: 50%;
}
.i3 {
  font-weight: bold;
}
.b2 {
  color: black;
  background-color: var(--common-color);
}
.f2 {
  font-size: 23px;
}
.f3 {
  font-size: 23px;
}
.tech {
  margin-top: 10px;
}
.tools {
  margin-top: 10px;
}
.app {
  margin-top: 10px;
}
.us {
  margin-top: 10px;
}
.carres {
  margin-top: 10px;
  font-weight: bold;
}
.blog {
  margin-top: 10px;
}
.aff {
  margin-top: 10px;
}
.support {
  margin-top: 10px;
}
.p {
  font-weight: bold;
  font-size: 26px;
}
.scribre {
  font-size: 17px;
  margin-top: 20px;
}
.input-box {
  margin-top: 20px;
}
